form.signup,
form.login {
  margin-top: 50px;
}

startup
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --line-offset: calc((10vh + 8px) / 2);
}

/* member */
/* .bodyGal {
  background-color: #dbd7d2;
}
.display-4 {
  font-family: 'Alex Brush', cursive;
}

.btn-secondary {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}

.card-img-top {
  width: 200;
}

.imageDiv {
  margin: 5px;
  border: 1px solid #ccc;
  float: var(--line-offset);
  width: auto;
  padding:5px;
} */

/* artbook */
bodyM {
  overflow: hidden;
}

.hard {
  background-color: #00f;
  display: flex;
  justify-content: center;
}

.pg1 {
  background-color: #ff0;
  display: flex;
  justify-content: center;
}

.pg2 {
  background-color: #0ff;
  display: flex;
  justify-content: center;
}

.pg3 {
  background-color: #f0f;
  display: flex;
  justify-content: center;
}

.pg4 {
  background-color: #f00;
  display: flex;
  justify-content: center;
}

#flipbook {
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 1860;
  align-items: center;
  float: center;
}

#flipbook .page{
  width:600px;
  height:960px;
  background-color:white;
  line-height:300px;
  font-size:20px;
  text-align:center;
  display: flex;
  justify-content: center;
}

#flipbook .page-wrapper{
  -webkit-perspective:2000px;
  -moz-perspective:2000px;
  -ms-perspective:2000px;
  -o-perspective:2000px;
  perspective:2000px;
}

#flipbook .hard{
  background:#ccc !important;
  color:#333;
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  font-weight:bold;
}

#flipbook .odd{
  background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
  background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
  
}

#flipbook .even{
  background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
  background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
  background-image:linear-gradient(left, #fff 95%, #dadada 100%);
  -webkit-box-shadow:inset 0 0 5px #666;
  -moz-box-shadow:inset 0 0 5px #666;
  -o-box-shadow:inset 0 0 5px #666;
  -ms-box-shadow:inset 0 0 5px #666;
  box-shadow:inset 0 0 5px #666;
}

.pageFld #prevBtn #nextBtn{
  display: flex;
  justify-content: center;
}
/* photos in artbook */

.bodyA {
  padding: 30px 0;
  background-color: #f8f8ff;
}

.bodyA body {
  padding: 0;

  position: relative;
  overflow: hidden;
}

.gallery {
  width: 600px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.img-c {
  width: 200px;
  height: 200px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  transform: translateX(-50%);
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
}


#navBar {
  z-index: 23;
}

#containerlogin {
  background: url(https://robbreport.com/wp-content/uploads/2019/02/louvre-c.jpg?w=1000);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding-bottom: 180px;
}



h2 {
  font-weight: bold;
  color: white;
  font-style: italic;
  font-size: 70px;
}






#bodylogin {
  margin: 0;
  padding: 0;
}

.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50px,-50%);
  -moz-transform: translate(-50%,-50px);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  padding: 80px 40px;
  background: rgba(0,0,0, 0.6);
}

.avatar {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  top: calc(-80px/2);
  left: calc(50% - 40px);
}

.contact-form h2 {
  font-family: sans-serif;
  font-size: 42px;
  margin: 0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}


.contact-form input {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form input[type=email],
.contact-form input[type=password]{
  border:none;
  border-bottom: 1px solid white;
  background: transparent;
  outline: none;
  height: 35px;
  color: #fff;
  font-size: 15px;
  
}

.contact-form input[type=submit] {
  height: 30px;
  color: white;
  font-size: 15px;
  background: red;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 15%;
}

input[type=checkbox] {
  width: 20%;
}

#bodylogin {
  content: ' ';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(https://robbreport.com/wp-content/uploads/2019/02/louvre-c.jpg?w=1000);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0.0.0..5);
}

#loginbtncolor {
  color: white;
}

.orlogin {
  color: white;
  width: 30px;
  margin: -19px auto 10px;
  margin-top: 1px;
  font-weight: bold;
  font-size: 15px;
}

.plogin {
  color: white;
  text-align: center;
  margin: -19px auto 10px;
  margin-top: 1px;
  font-size: 15px;
}